<button
  type="button"
  class="meter-item"
  [class.read]="status && !!status.cssClass"
  [class.selected]="isSelected"
  (click)="onSelect()"
  [attr.id]="'meter-' + meter.medidorId"
>
  <div class="meter-main">
    <div class="meter-serie">{{ meter.serie }}</div>
    @if (meter.clienteNombre) {
      <div class="meter-client">
        <i class="bi bi-person-fill"></i> {{ meter.clienteNombre }}
      </div>
    }
    <div class="meter-detail">
      {{ meter.marca }} {{ meter.modelo ? '- ' + meter.modelo : '' }}
    </div>
  </div>
  <div class="meter-end">
    @if (status && status.cssClass) {
      <span [class]="status.cssClass">
        <i [class]="'bi ' + status.icon"></i> {{ status.label }}
      </span>
    }
    @if (meter.contratoId) {
      <span class="badge-contract">#{{ meter.contratoId }}</span>
    }
    @if (showArrow) {
      <i class="bi bi-chevron-right meter-arrow"></i>
    }
  </div>
</button>
