.pre-invoice-detail-page {
  .pre-invoice-header-icon {
    width: 54px;
    height: 54px;
  }

  .custom-detail-table {
    th {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    td {
      font-size: 0.875rem;
    }
  }
}